/**************
menu
****************/
.b-a, .bar, .bar:before, .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
}
.menu-collapsed {
  -webkit-transition: all .25s;
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  -webkit-transition: all 0s;
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  -webkit-transition: all .25s;
  transition: all .25s;
  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 10em;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  -webkit-transition: all 0s;
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {

  background-image: url("../css/network.svg");
  -webkit-transition: all .15s;
  transition: all .15s;
  text-decoration: none;
  font-size: 3em;
  padding: 5px;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  -webkit-transition: all .15s;
  transition: all .15s;
  letter-spacing: 2px;
  color: #ccc;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: #ccc;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.menu-expanded .bar:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-expanded .bar:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 520px) {
  .menu-expanded {
    line-height: 5em;
  }
}