@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html {
    border-top-width: 12px;
    border-top-style: solid;
    border-top-color: #607D8B;
}

body {
  background-color: #ffffff;
  background-image: url("../img/background.png");
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}

#aboutAbhiyantran h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#aboutAbhiyantran h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}
#aboutAbhiyantran h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#aboutAbhiyantran p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {
  color: #3b8595;
}
.ny {
  color: #3d3c3a;
}
.atw {
  color: #c48660;
}

#aboutAbhiyantran .title {
  background: #ccc;
  opacity: 0.5;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}
#aboutAbhiyantran .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

#aboutAbhiyantran .block {
  background: transparent;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

#aboutAbhiyantran .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}

#aboutAbhiyantran .yearFirst {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../img/20141.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#aboutAbhiyantran .yearSecond {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../img/abhiyantran15.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#aboutAbhiyantran .yearThird {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../img/abhiyantran16.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#aboutAbhiyantran .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  #aboutAbhiyantran .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #aboutAbhiyantran .block {
    padding: 30px;
    width: 420px;
  }
  #aboutAbhiyantran h2 {
    font-size: 30px;
  }
  #aboutAbhiyantran .block {
    padding: 30px;
  }
  #aboutAbhiyantran .yearFirst,
  #aboutAbhiyantran .yearSecond,
  #aboutAbhiyantran .yearThird {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #aboutAbhiyantran .block {
    padding: 30px 15px;
    width: 290px;
  }
}
/**************
menu
****************/
.b-a, .bar, .bar:before, .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(1, 1, 1, 0.95);
}

.menu-collapsed {
  -webkit-transition: all .25s;
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  -webkit-transition: all 0s;
  transition: all 0s;
  position: fixed;
  left: -9000px;
}
.menu-collapsed ul li{

  list-style-type:none;
}
.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  -webkit-transition: all .25s;
  transition: all .25s;
  text-align: center;
  line-height: 180px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  -webkit-transition: all 0s;
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  -webkit-transition: all .15s;
  transition: all .15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .15s;
  transition: all .15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.menu-expanded .bar:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-expanded .bar:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 520px) {
  .menu-expanded {
    line-height: 5rem;
  }
}